<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Baanrenderer</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Baanrenderer</h1>
  <p>Kies een baan-bestand</p>
  <form method="post" enctype="multipart/form-data" action="/upload/">
    <fieldset>
      <p>Baan:<input type="file" name="image"></p>
      <p><input type="submit" value="upload"></p>
    </fieldset>
  </form>
  <!--<%- svg %>-->
  <% for(var i=0; i<svg.length; i++) {%>
   <span style="float: left; width: 70px; border: 2px solid red;"><%= svg[i] %></span>
  <% } %>
</body>

</html>
